header {
    margin: 0;
    padding: 0;
    width:75%;
    display: flex;
    justify-content: space-between;
    
}

#view-high-scores {
    color: magenta;
}
.main-container h1, p {
    text-align: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.button {
    background-color: #6432a8;
    color: white;
    align-items: center;
}
.button:hover {
    background-color:magenta;
}